.swiper{
  flex: 40% 300px .4;
  height: 100vh;
  max-height: 600px;
  overflow: hidden;
  padding: 10px;
  
}

.swiper-slide{
  display:grid;
  place-items: center;
}

@media (max-width: 700px){
  .swiper{
    width: 100%;
  }
}
@media (max-width: 425px){
  .swiper{
    max-height: 300px;
  }
}